<div class="col-lg-3">
  <div class="well sidebar-nav">
    <h3>Are you a majority reporter?</h3>
    <p>
      Welcome to Majority Report. Here's how you can contribute and become a majority reporter, i.e. someone who contributes to truth, decency and opportunity in this country.
    </p>
    <%= link_to 'Submit a New Post', new_post_path, class: 'btn btn-warning' %>
    <hr />
    <%= link_to 'Leaderboard', leaderboard_credits_path %></li>
    <hr />
    <strong>Petition of the Week:</strong><br />
    <%= link_to "I won't work for a company that supports fascist government.", "https://www.change.org/p/we-won-t-work-for-companies-that-support-this-administration-s-values" %>
    <br/><br/>
  </div><!--/.well -->
</div>
