<div class="col-lg-3">
  <div class="well sidebar-nav">
    <h3>Are you a majority reporter?</h3>
    <p>
    The Majority Report is a truth community for all Americans who oppose the lies and indecency of the incoming Trump administration.
    </p>
    <hr />
    <%= link_to '> Submit a new post', new_post_path  %>
    <hr />
    <strong>> Sign the petition of the Week:</strong><br />
    <%= link_to "I won't work for a company that supports fascist government.", "https://www.change.org/p/we-won-t-work-for-companies-that-support-this-administration-s-values" %>
    <br/><br/>
  </div><!--/.well -->
</div>
