<div class="newsletter-subscribe">
  <div class="row">
    <div class="col-md-12">
      Majority Report is a crowdsourced collection of stories for the majority of Americans who believe in Truth, Decency and Opportunity. Subscribe today to get the top five posts delivered directly to your inbox every Monday, Wednesday and Friday.
    </div>
  </div>
  <div class="row" style="padding-top: 10px;">
    <div class="col-md-12">
      <center>
      <%= form_for(@newsletter_subscriber, url: newsletters_path) do |f| %>
        <%= f.email_field :email, required: true, placeholder: 'your email' %>
        <%= f.submit 'Subscribe', class: 'btn btn-primary' %>
      <% end %>
      </center>
    </div>
  </div>

</div>
<br/>
