<% title('Home') %>

<% if current_user %>
  <div class="well subphez-heading-well">
    <ul class="list-inline">
      <li><h2>All</h2></li>
      <li>&nbsp;&nbsp;</li>
    </ul>
  </div>
<% end %>

<% @posts.each do |post| %>
  <% @post = post %>
  <%= render :partial => 'posts/heading' %>
<% end %>

<% content_for :sidebar do %>
  <%= render partial: 'shared/sidebar' %>
<% end %>
