/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require jquery-ui
 */

/* Admin Styles */
div.dashboard-panel {
  border-radius: 10px;
  width: 100%;
  color: #fff;
  height: 76px;
  padding: 20px 0;
  padding-left: 14px;
  font-size: 1.5em;
}
.blue {
  background-color: #0000cc;
}
.orangey {
  background-color: #E68A00;
}
.green {
  background-color: #009900;
}
.red {
  background-color: #B82500;
}
div.spaced-div {
  padding: 6px 0;
}
div.admin-heading-well {
  padding: 8px 10px;
}

.generic-table td, .generic-table th {
  padding: 10px;
}
table.generic-table, table.generic-table th, table.generic-table td {
   border: 1px solid #ccc;
}

/* /Admin Styles */

div.newsletter-subscribe {
  background-color: #ffffcc;
  border: #ffff99 solid;
  border-radius: 10px;
  padding: 10px;
}

h2 a.post-link:visited {
  color: #4c1a80 !important;
}

div.subphez-heading-well {
  padding-top: 0em !important;
  padding-bottom: 0em !important;
}

div.voting_arrows {
  margin-top: .5em;
  float: left;
  min-width: 30px;
  width: 30px;
  padding-left: 5px;
  margin-right: 5px;
}
span.vote_count {
  font-size: 1.3em;
  color: #b2b2b2;
  padding-left: 5px;
}
div.thumbnail {
  float: left;
  width: 90px;
  margin-right: 20px;
  display: block;
}
.vote-arrow {
  color: #b2b2b2;
  font-size: 1.5em !important;
}
.voted {
  color: #0066ff !important;
}
.post-title {
  max-width: 500px;
}
br.post-title-spacer {
  display: block;
  margin: 5px 0;
}
a.post-link {
  font-size: 1.6em;
}
.domain {
  color: #b2b2b2;
  font-size: .9em;
}
.domain a, .domain a:visited {
  color: #b2b2b2;
}
.submitted {
  color: #b2b2b2;
}
.comment-by {
  padding-bottom: .4em;
  color: #b2b2b2;
}
.comment-body {
  width: 30em;
  height: 7em;
}
.edit-comment-body {
  min-width: 150px;
  width: 50em;
  height: 10em;
}
.comment-edit-actions {
  padding: 10px 0;
}
.comment {
  padding-left: .1em;
  display: table-cell;
}
.comment-actions {
  padding-bottom: .6em;
}
.comment-actions a {
  color: #ccc;
}
.indented-comment {
  margin-left: 2em;
}
.deleted-comment {
  color: #ccc;
  margin-left: 1.5em;
}
span.comment-upvote-total {
  color: #0066ff;
}
span.comment-downvote-total {
  color: #8a2ee6;
}

div.comment_arrows {
  width: 4%;
  float: left;
  display: table-cell;
}
.title-field {
  width: 30em;
}
textarea.body-field {
  width: 30em;
  height: 15em;
}
.orange {
  color: #ff6600 !important;
}
div.well img {
  max-width: 98%;
}

div.karma {
  font-size: 1.1em;
}
span.link-karma {
  font-weight: bold;
  font-size: 1.3em;
}
span.comment-karma {
  font-weight: bold;
  font-size: 1.2em;
}
div.my-subscriptions-unsubscribe {
  padding-top: 30px;
  padding-left: 10px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
div.donate-button-wrapper {
  margin-top: 0px;
  width: 120px;
  float: left;
  min-width: 100px;
}
div.donate-text {
  padding-top: 8px;
  margin-left: 0em;
}

table.leaderboard-table th {
  text-align: center;
}
table.leaderboard-table td {
  padding: 10px;
  text-align: left;
}
table.top-table th {
  text-align: center;
}
table.top-table td {
  padding: 4px;
}

.edit-account-field {
  width: 30em;
}
div.premium-plan {
  padding: 10px 10px;
}
.premium-amount {
  width: 200px !important;
}
.big-fa {
  font-size: 3em !important;
  color: green;
}
.padded-table td, .padded-table th {
  padding: 10px;
}
table.padded-table, table.padded-table th, table.padded-table td {
   border: 1px solid #ccc;
}

.transactions-table {
  width: 800px;
}
.transactions-table td, .transactions-table th {
  padding: 10px;
}
table.transactions-table, table.transactions-table th, table.transactions-table td {
   border: 1px solid #ccc;
}
a.reward-comment-premium {
  color: #fff !important;
}
div.rewarded-comment {
  background-color: #66ccff;
  border-radius: 10px;
  padding: 10px;
}

div.rewarded-comment .comment-actions a {
  color: #000 !important;
}
div.rewarded-comment .comment_arrows {
  padding-left: 10px;
}
div.rewarded-post {
  background-color: #B2E6FF;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}
textarea.new-post-body-field {
  width: 70%;
  min-width: 200px;
  max-width: 800px;
  height: 12em;
}
table.api-table td, table.api-table th {
  padding: 10px;
}
table.api-table, table.api-table th, table.api-table td {
   border: 1px solid #ccc;
}
table.api-table {
  margin-bottom: 10px;
}


/* --------------------- Majority Report Specific ------------ */
@import "variables.less";
@import "mixins.less";

// Global Components

body {
    font-family: 'Lora', 'Times New Roman', serif;
    font-size: 20px;
    color: #333;
}

// Typography

p {
    line-height: 1.5;
    margin: 30px 0;
    a {
        text-decoration: underline;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
    font-weight: 800;
}

a {
    color: #333;
    &:hover,
    &:focus {
        color: #0085A1; 
    }
}

a img {
    &:hover,
    &:focus {
        cursor: zoom-in;
    }
}

blockquote {
    color: #777;
    font-style: italic;
}

hr.small {
    max-width: 100px;
    margin: 15px auto;
    border-width: 4px;
    border-color: white;
}

// Navigation

.navbar-custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
    .navbar-brand {
        font-weight: 800;
    }
    .navbar-header {
        .navbar-toggle {
            color: #777;
            font-weight: 800;
            text-transform: uppercase;
            font-size: 12px;
        }
    }
    .nav {
        li {
            a {
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 800;
                letter-spacing: 1px;
            }
        }
    }
    @media only screen and (min-width: 768px) {
        background: transparent;
        border-bottom: 1px solid transparent;
        .navbar-brand {
            color: white;
            padding: 20px;
            &:hover,
            &:focus {
                color: fade(white, 80%);
            }
        }
        .nav {
            li {
                a {
                    color: white;
                    padding: 20px;
                    &:hover,
                    &:focus {
                        color: fade(white, 80%);
                    }
                }
            }
        }
    }
    @media only screen and (min-width: 1170px) {
        -webkit-transition: background-color 0.3s;
        -moz-transition: background-color 0.3s;
        transition: background-color 0.3s;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        &.is-fixed {
            /* when the user scrolls down, we hide the header right above the viewport */
            position: fixed;
            top: -61px;
            background-color: fade(white, 90%);
            border-bottom: 1px solid darken(white, 5%);
            -webkit-transition: -webkit-transform 0.3s;
            -moz-transition: -moz-transform 0.3s;
            transition: transform 0.3s;
            .navbar-brand {
                color: #333;
                &:hover,
                &:focus {
                    color: #0085A1;
                }
            }
            .nav {
                li {
                    a {
                        color: #333; 
                        &:hover,
                        &:focus {
                            color: #0085A1;
                        }
                    }
                }
            }
        }
        &.is-visible {
            /* if the user changes the scrolling direction, we show the header */
            -webkit-transform: translate3d(0, 100%, 0);
            -moz-transform: translate3d(0, 100%, 0);
            -ms-transform: translate3d(0, 100%, 0);
            -o-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
        }
    }
}

// Header

.intro-header {
    background-color: #777; 
    background: no-repeat center center; 
    background-attachment: scroll;
    .background-cover;
    // NOTE: Background images are set within the HTML using inline CSS!
    margin-bottom: 50px;
    .site-heading,
    .post-heading,
    .page-heading {
        padding: 100px 0 50px;
        color: white;
        @media only screen and (min-width: 768px) {
            padding: 150px 0;
        }
    }
    .site-heading,
    .page-heading {
        text-align: center;
        h1 {
            margin-top: 0;
            font-size: 50px;
        }
        .subheading {
            font-size: 24px;
            line-height: 1.1;
            display: block;
            font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
            font-weight: 300;
            margin: 10px 0 0;
        }
        @media only screen and (min-width: 768px) {
            h1 {
                font-size: 80px;
            }
        }
    }
    .post-heading {
        h1 {
            font-size: 35px;
        }
        .subheading,
        .meta {
            line-height: 1.1;
            display: block;
        }
        .subheading {
            font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
            font-size: 24px;
            margin: 10px 0 30px;
            font-weight: 600;
        }
        .meta {
            font-family: 'Lora', 'Times New Roman', serif; 
            font-style: italic;
            font-weight: 300;
            font-size: 20px;
            a {
                color: white;
            }
        }
        @media only screen and (min-width: 768px) {
            h1 {
                font-size: 55px;
            }
            .subheading {
                font-size: 30px;
            }
        }
    }
}

// Post Preview Pages

.post-preview {
    > a {
        color: #333; 
        &:hover,
        &:focus {
            text-decoration: none;
            color: #0085A1;
        }
        > .post-title {
            font-size: 30px;
            margin-top: 30px;
            margin-bottom: 10px;
        }
        > .post-subtitle {
            margin: 0;
            font-weight: 300;
            margin-bottom: 10px;
        }
    }
    > .post-meta {
        color: #777; 
        font-size: 18px;
        font-style: italic;
        margin-top: 0;
        > a {
            text-decoration: none;
            color: #333;
            &:hover,
            &:focus {
                color: #0085A1;
                text-decoration: underline;
            }
        }
    }
    @media only screen and (min-width: 768px) {
        > a {
            > .post-title {
                font-size: 36px;
            }
        }
    }
}

// Sections

.section-heading {
    font-size: 36px;
    margin-top: 60px;
    font-weight: 700;
}

.caption {
    text-align: center;
    font-size: 14px;
    padding: 10px;
    font-style: italic;
    margin: 0;
    display: block;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

footer {
    padding: 50px 0 65px;
    .list-inline {
        margin: 0;
        padding: 0;
    }
    .copyright {
        font-size: 14px;
        text-align: center;
        margin-bottom: 0;
    }
}

// Contact Form Styles

.floating-label-form-group {
    font-size: 14px;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #eee;
    input,
    textarea {
        z-index: 1;
        position: relative;
        padding-right: 0;
        padding-left: 0;
        border: none;
        border-radius: 0;
        font-size: 1.5em;
        background: none;
        box-shadow: none !important;
        resize: none;
    }
    label {
        display: block;
        z-index: 0;
        position: relative;
        top: 2em;
        margin: 0;
        font-size: 0.85em;
        line-height: 1.764705882em;
        vertical-align: middle;
        vertical-align: baseline;
        opacity: 0;
        -webkit-transition: top 0.3s ease,opacity 0.3s ease;
        -moz-transition: top 0.3s ease,opacity 0.3s ease;
        -ms-transition: top 0.3s ease,opacity 0.3s ease;
        transition: top 0.3s ease,opacity 0.3s ease;
    }
    &::not(:first-child) {
        padding-left: 14px;
        border-left: 1px solid #eee;
    }
}

.floating-label-form-group-with-value {
    label {
        top: 0;
        opacity: 1;
    }
}

.floating-label-form-group-with-focus {
    label {
        color: #0085A1;
    }
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}

// Button Styles

.btn {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    border-radius: 0;
    padding: 15px 25px;
}

.btn-lg {
    font-size: 16px;
    padding: 25px 35px;
}

.btn-default {
    &:hover,
    &:focus {
        background-color: #0085A1;
        border: 1px solid #0085A1;
        color: white;
    }
}

// Pager Styling

.pager {

    margin: 20px 0 0;

    li {
        > a,
        > span {
            font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 800;
            letter-spacing: 1px;
            padding: 15px 25px;
            background-color: white;
            border-radius: 0;
        }

        > a:hover,
        > a:focus {
            color: white;
            background-color: #0085A1;
            border: 1px solid #0085A1; 
        }
    }

    .disabled {
        > a,
        > a:hover,
        > a:focus,
        > span {
            color: #777;
            background-color: #333;
            cursor: not-allowed;
        }
    }
}

// Highlight Color Customization

::-moz-selection {
    color: white;
    text-shadow: none;
    background: #0085A1;
}

::selection {
    color: white;
    text-shadow: none;
    background: #0085A1; 
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

body {
    -webkit-tap-highlight-color: #0085A1;
}
HIGHLIGHTS BY 0
